# Compiler files
packages/smart-contract/cache/
packages/smart-contract/out/

# Ignores development broadcast logs
!packages/smart-contract/broadcast
packages/smart-contract/broadcast/*/31337/
packages/smart-contract/broadcast/**/dry-run/

# Docs
packages/smart-contract/docs/

# Dotenv file
.env

# Exclude submodule directories (they should be managed by forge install)
packages/smart-contract/lib/
